BASE_URL=https://api.triponik.uz
PORT=3000

# Hotel API Configuration
# Base URL for the hotel availability API
NUXT_PUBLIC_HOTEL_API_BASE_URL=https://api.triponik.uz
# Hotel API credentials (Basic Auth)
HOTEL_API_USERNAME=diyorbek
HOTEL_API_PASSWORD=Mulan2025...